# Prerequisites
*.d
out_folder
CWebStudio_test.h
# Object files
*.o
*.ko
*.obj
*.elf
teste.py
a.png
main.c
requisicao
aaa.jpg
# Linker output
*.ilk
*.map
*.exp
trash
static
# Precompiled Headers
*.gch
*.pch
*.png
# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
